{% extends'::base.html.twig' %}


{% block main %}

    <div class="firstCnx">
        <div class="advise">
            <h3>Ajouter des livres que vous avez lu ! </br>
                Et decouvrez ensuite vos recommandations de lectures personnalisées</h3>
        </div>

        <div class="personalPage">
            <h3>Ignorez cette étape et accéder à VOTRE ACCUEIL</h3>
        </div>

    </div>

    <div class="bottomFirstCnx">
        <div class="exampleBook">
            {% for book in allBooks %}
            <div class="detailBook">
                <a href="{{ path('oneBook',{'id':book.id}) }}"></a>
                <div class="oneImg">
                    <img src="{{ asset('assets/imgcover/'~book.cover) }}" class="imgCover" alt="Photo de la couverture du livre">
                </div>
                <p>{{ book.title }}</p>
                {% if book.author %}
                    <p>{{ book.author.firstName }} {{ book.author.lastName }}</p>
                {% endif %}
                    <button id="reading">J'ai lu ce livre</button>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Ce livre va être ajouté dans votre espace, vous pouvez rajouter des informations</h2>
                            <span class="close">&times;</span>
                        </div>
                        <div class="modal-body">
                            <div class="bookInfo">
                                <div class="bookMain">
                                    <p>Titre : {{ book.title }}</p>
                                    {% if book.author %}
                                        <p>Auteur : {{ book.author.firstName }} {{ book.author.lastName }}</p>
                                    {% endif %}
                                    <img src="{{ asset('assets/imgcover/'~book.cover) }}" id="imgModal" alt="Photo de la couverture du livre">
                                </div>
                                <div class="bookResume">
                                    <p>Résumé : </p>
                                        <p class="synopsis">{{ book.synopsis }}</p>
                                </div>
                                <div class="note">
                                    <p></p>
                                </div>
                                <div class="comment">
                                    <h3>Commentaires</h3>
                                    <p>Texte de l'utilisateur</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button>AJOUTER</button>
                        </div>
                    </div>

                </div>

                <script>
                    // Get the modal
                    var modal = document.getElementById('myModal');

                    // Get the button that opens the modal
                    var btn = document.getElementById("reading");

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks the button, open the modal
                    btn.onclick = function() {
                        modal.style.display = "block";
                    }

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </div>

            {% endfor %}
        </div>

        <div class="search">
            <div class="personalSearch">
                <input placeholder="Rechercher" class="look">
            </div>
            <div class="category">
                {% for category in viewAllCategory %}
                <button class="category">{{ category.bookType }}</button></br>
                {% endfor %}

            </div>
        </div>

    </div>

{% endblock %}