{% extends'::base.html.twig' %}


{% block main %}
    {{ form_start(formAddAuthor) }}

    <div class="firstName">
        {{ form_label(formAddAuthor.name) }}
        {{ form_errors(formAddAuthor.name) }}
        {{ form_widget(formAddAuthor.name, { 'attr' :{'class':'form-control'}}) }}
    </div>
    <div class="birthDate">
        {{ form_label(formAddAuthor.birthDate) }}
        {{ form_errors(formAddAuthor.birthDate) }}
        {{ form_widget(formAddAuthor.birthDate, { 'attr' :{'class':'form-control'}}) }}
    </div>
    <div class="deathDate">
        {{ form_label(formAddAuthor.deathDate) }}
        {{ form_errors(formAddAuthor.deathDate) }}
        {{ form_widget(formAddAuthor.deathDate, { 'attr' :{'class':'form-control'}}) }}
    </div>
    <div class="bio">
        {{ form_label(formAddAuthor.bio) }}
        {{ form_errors(formAddAuthor.bio) }}
        {{ form_widget(formAddAuthor.bio, { 'attr' :{'class':'form-control'}}) }}
    </div>
    {#<div class="dateAuthor">#}
        {#{{ form_label(formAddAuthor.dateAuthor) }}#}
        {#{{ form_errors(formAddAuthor.dateAuthor) }}#}
        {#{{ form_widget(formAddAuthor.dateAuthor) }}#}
    {#</div>#}
    <div class="submit">
        {{ form_widget(formAddAuthor.submit, { 'attr' :{'class':'form-control'}}) }}
    </div>

    {{ form_end(formAddAuthor) }}



{% endblock %}

