{% extends'base.html.twig' %}



{% block main %}

<main>
    <div class="user">
        <p class="pseudo">Tableau de Bord</p>
            <li>Tous mes livres lus</li>
            <li>Tous mes livres en cours de lecture</li>
            <li>Tous mes livres à lire</li>
    </div>

</main>

    <div class="globalView">
        <div class="read">
        {% for reading in lastASReadUser %}
                    <p>Dernier livre lu :</p>
                    <p>{{ reading.book.title }}</p>
                        <div class="oneImg">
                            <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                        </div>
        {% endfor %}
        </div>

        <div class="inProgress">Dernier livre en cours de lecture :
            {% for reading in lastReadingUser %}
                    <p>{{ reading.book.title }}</p>
                    <div class="oneImg">
                        <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                    </div>
            {% endfor %}
        </div>

        <div class="toRead">
            {% for reading in lastToReadUser %}
                    <p>Dernier livre à lire :</p>
                    <p>{{ reading.book.title }}</p>
                    <div class="oneImg">
                        <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                    </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}
