{% extends'base.html.twig' %}



{% block main %}

<main>
    <div class="user">
        <p class="pseudo">Tableau de Bord</p>
            <li>Livres lus</li>
            <li>Livres en cours de lecture</li>
            <li>Livres à lire</li>


    </div>

</main>

    <div class="globalView">
        <div class="read">
        {% for reading in allReadingUser %}
                {% if reading.statusRead.id == '1'%}
                    <p>Dernier livre lu :</p>

                    <p>{{ reading.book.title }}</p>
                        <div class="oneImg">
                            <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                        </div>
                {% endif %}
        {% endfor %}
        </div>

        <div class="inProgress">Dernier livre en cours de lecture :
            {% for reading in allReadingUser %}
                {% if reading.statusRead.id == '2'%}
                    <p>{{ reading.book.title }}</p>
                    <div class="oneImg">
                        <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="toRead">
            {% for reading in allReadingUser %}
                {% if reading.statusRead.id == '3'%}
                    <p>Dernier livre à lire :</p>
                    <p>{{ reading.book.title }}</p>
                    <div class="oneImg">
                        <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                    </div>
                {% endif %}
            {% endfor %}
        </div>


    </div>

{% endblock %}
