{% extends'base.html.twig' %}



{% block main %}

    <main>
        <div class="user">
            <a href="{{ path('myBooks') }}">
                <p class="pseudo">Tableau de Bord</p>
            </a>
            <a href="{{ path('myBooksAsRead') }}">
                <p>Tous mes livres lus </p>
            </a>
            <a href="{{ path('myBooksReading') }}">
                <p>Tous mes livres en cours de lecture</p>
            </a>
            <a href="{{ path('myBooksToRead') }}">
                <p>Tous mes livres à lire</p>
            </a>
        </div>

    </main>

    <div class="globalView">
        <div class="read">
        {% for reading in lastASReadUser %}
                    <p>Dernier livre lu :</p>
                    <p>{{ reading.book.title }}</p>
                        <div class="oneImg">
                            <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                        </div>

        {% endfor %}
        </div>

        <div class="inProgress">
            {% for reading in lastReadingUser %}
                    <p>Dernier livre en cours de lecture :</p>
                    <p>{{ reading.book.title }}</p>
                    <div class="oneImg">
                        <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                    </div>
            {% endfor %}
        </div>

        <div class="toRead">
            {% for reading in lastToReadUser %}
                    <p>Dernier livre à lire :</p>
                    <p>{{ reading.book.title }}</p>
                    <div class="oneImg">
                        <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                    </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}
