{% extends'base.html.twig' %}



{% block main %}

    <main>
        <div class="user">
            <div class="dashboard">
                <a href="{{ path('myBooks') }}">
                    <p class="myDashboard">Tableau de Bord</p>
                </a>
            </div>
            <div class="dashboardDetail">
                <a href="{{ path('myBooksAsRead') }}">
                    <p class="allMyBooksAsRead">Tous mes livres lus </p>
                </a>
                <a href="{{ path('myBooksReading') }}">
                    <p class="allMyBooksReading">Tous mes livres en cours de lecture</p>
                </a>
                <a href="{{ path('myBooksToRead') }}">
                    <p class="allMyBookksToRead">Tous mes livres à lire</p>
                </a>
            </div>
        </div>

    </main>

    <div class="globalView">
            {% for reading in allASReadUser %}
        <div class="allRead">
            <p>{{ reading.book.title }}</p>
            <p>Date de lecture : {{ reading.dateComment.date|date("d/m/Y") }}</p>
            <div class="oneImg">
                <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
            </div>
            <a href="{{ path('readingDelete',{'id':reading.id}) }}">
                <button class="delete">Supprimer</button>
            </a>
        </div>
            {% endfor %}



    </div>

{% endblock %}