{% extends'base.html.twig' %}



{% block main %}

    <main>
        <div class="user">
            <a href="{{ path('myBooks') }}">
                <p class="pseudo">Tableau de Bord</p>
            </a>
            <a href="{{ path('myBooksAsRead') }}">
                <p>Tous mes livres lus </p>
            </a>
            <a href="{{ path('myBooksReading') }}">
                <p>Tous mes livres en cours de lecture</p>
            </a>
            <a href="{{ path('myBooksToRead') }}">
                <p>Tous mes livres à lire</p>
            </a>
        </div>

    </main>

    <div class="globalView">
        {% for reading in allReadingUser %}
            <div class="allRead">
                <p>{{ reading.book.title }}</p>
                <p>Date de sélection : {{ reading.dateComment.date|date("d/m/Y") }}</p>
                <div class="oneImg">
                    <img src="{{ asset('assets/imgcover/' ~ reading.book.cover) }}" data-image="{{ reading.book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                </div>
                <a href="{{ path('readingDelete',{'id':reading.id}) }}">
                    <button class="delete">Supprimer</button>
                </a>
            </div>
        {% endfor %}



    </div>

{% endblock %}