{% extends'::base.html.twig' %}


{% block main %}

    <div class="firstCnx">
        <div class="advise">
            <h3>Ajouter des livres que vous avez lu !<br>
                En utilisant la recherche par Auteur ou Titre</h3>
        </div>
        <div class="personalPage">
            <a href="{{ path('myBooks') }}">
                <h3>ACCEDEZ À VOTRE TABLEAU DE BORD</h3>
            </a>
        </div>
    </div>

    <div class="booksByCategory">
        {% for book in booksByCategory %}
            <div class="booksCategory">
                <div class="oneImg">
                    <img src="{{ asset('assets/imgcover/' ~ book.cover) }}" data-image="{{ book.cover }}" class="imgCover" alt="Photo de la couverture du livre">
                </div>

                <p class="title-bk">{{ book.title }}</p>
                <p class="author-bk-firstName">{{ book.author.name }}</p>
                <p class="synopsis-bk">{{ book.synopsis }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="search">
        <div class="personalSearch">
            {{ form_start(searchForm) }}
            <div class="formSearch">
                <div>
                    {{ form_errors(searchForm.search) }}
                    {{ form_widget(searchForm.search, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher un livre' }}) }}
                </div>
                <div>
                    {{ form_widget(searchForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>
            {{ form_end(searchForm) }}
        </div>
        <div class="category">
            {% for category in viewAllCategory %}
                <a href="{{ path('category',{'id':category.id}) }}" class="category">{{ category.bookType }}</a></br>
            {% endfor %}
            <a href="{{ path('personal') }}">Tous les livres</a>
        </div>
    </div>


{% endblock %}