<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {#<!-- Bootstrap CSS -->#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    {#<!--Reset style CSS--!>#}
    <link rel="stylesheet" href="{{ asset('assets/css/reset.css')}}">

    {#<!--  style css -->#}
    <link rel="stylesheet" href="{{ asset('assets/css/styleCofon.css')}}">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>




</head>
<body>

{% block header %}

    <nav class="navbar">
        <div class="brand col-md-2">
            <img src="{{ asset('assets/images/logofilrouge.png') }}" alt="logo" class="logo">
        </div>
        <div class="search col-md-4">
            {#{{ form_start(SearchType) }}#}
            {#<div class="formSearch">#}
                {#<div>#}
                    {#{{ form_errors(searchForm.search) }}#}
                    {#{{ form_widget(searchForm.search, {'attr': {'class': 'form-control', 'placeholder': 'Rechercher'}}) }}#}
                {#</div>#}
                {#<div>#}
                    {#{{ form_widget(searchForm.submit, {'attr': {'class': 'btn btn-primary' }}) }}#}
                {#</div>#}
            {#</div>#}
            {#{{ form_end(searchForm) }}#}
        </div>
        <div class="button col-md-6">
            {% if app.user is not null %}
            <a href="{{ path('cofon') }}" class="home">Accueil</a>
            {% else %}
            <a href="{{ path('fos_user_registration_register') }}" class="home">Accueil</a>
            {% endif %}
            {% if app.user is not null %}
            <a href="{{ path('myBooks') }}" class="books">Mes livres</a>
            {% else %}
            <a href="{{ path('fos_user_registration_register') }}" class="books">Mes livres</a>
            {% endif %}
            {% if app.user is not null %}
            <a href="{{ path('personal') }}" class="addBooks">Ajouter des livres</a>
            {% else %}
            <a href="{{ path('fos_user_registration_register') }}" class="addBooks">Ajouter des livres</a>
            {% endif %}
            {% if app.user is not null %}
                <a href="{{ path('fos_user_security_logout') }}" class="connection">{{ app.user.username }}</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}" class="connection">Connexion</a>
            {% endif %}
        </div>

    </nav>

{% endblock %}


{% block main %}
{% endblock %}

{% block fos_user_content %} {% endblock %}


{% block footer %}
    <div class="footer">
        {#<div class="icones text-center center-block">#}
            {#<p>Suivez-nous sur :#}
                {#<a href=""><i class="fab fa-facebook"></i></a>#}
                {#<a href=""><i class="fab fa-twitter-square"></i></a>#}
                {#<a href=""><i class="fab fa-instagram"></i></a>#}
            {#</p>#}
        {#</div>#}
        <div class="info">
            <p><a href="{{ path('mentionsLegales') }}">Mentions Légales</a> | </p>
            <p><a href="{{ path('contact') }}">Contact</a></p>
        </div>
    </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% block script %}
{% endblock %}
</body>
</html>
